<div class="post-header">
    <ul class="nav">
        <% for (name in theme.menu) { %>
        <li>
            <% 
            let isCurrent = false;
            const menuPath = theme.menu[name];
            
            // 判断当前页面
            if (menuPath === '/') {
                isCurrent = is_home();
            } else if (menuPath === '/archives') {
                isCurrent = is_archive();
            } else if (menuPath === '/about') {
                isCurrent = page.path.startsWith('about');
            } else if (menuPath === '/use') {
                isCurrent = page.path.startsWith('use');
            } else if (menuPath === '/novel') {
                isCurrent = page.path.startsWith('novel');
            }
            %>
            <a href="<%- url_for(menuPath) %>" class="<%= isCurrent ? 'current' : '' %>"><%= name %></a>
        </li>
        <% } %>
    </ul>
</div>
